body {
  background: #DDD;
}

#display {
  width: calc(4 * 40px + 6 * 2px);
  padding: 10px;
  text-align: right; 
  box-sizing: border-box;
  background: #FFF;
  border: 1px solid black;
}

button {
  margin: 2px 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 1px solid black;
}
