body {
  background: #DDD;
}

#display {
  width: calc(4 * 40px + 6 * 2px);
  margin-bottom: 5px;
  padding: 10px;
  text-align: right; 
  box-sizing: border-box;
  background: #FFF;
  border: 1px solid black;
}

button {
  margin: 2px 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 3px #888;
}

button[onclick^="set_num"] {
  background: #FFF;
}

button[onclick^="set_op"] {
  background: #999;
}

button[onclick^="result"] {
  background: #8DF;
}

button:active {
  margin: 2px 0 0 2px;
  width: 38px;
  height: 38px;
  box-shadow: 1px 0.5px 1px #888;
}
